/* Unset All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --sidebar-left-align: 8%;
    
    --sidebar-icon-width: 2vw;
    --sidebar-icon-height: 2vw;
    --sidebar-icon-text-gap: 1vw;
    --sidebar-logo-width: 2.2vw;
    --sidebar-logo-height: 2.2vw;


    --sidebar-menuitem-gap: 2vh;
    --sidebar-menuitem-font-size: 1.0em;
    --sidebar-menuitem-font-weight: bold;

    --sidebar-color: #4c0519;
    --sidebar-text-color: #fff1f2;
    --sidebar-logo-color: #fff1f2;
    --sidebar-icon-color: #fff1f2;


    --header-left-align: 2vw;
    --header-color: #fff1f2;
    --searchbar-color: #fecdd3;
    --search-icon-color: #4c0519;
    --search-icon-size: 1.5vw;

    --actions-button-color: #4c0519; 
    --actions-button-text-color: #fff1f2;

    --projects-left-align: 2vw;
    --projects-top-padding:3vh;
    --projects-bottom-padding:5vh;
    --projects-background-color: #fecdd3;

    --card-background-color:#fff1f2;
    --card-side-color:#62d5c7;
    --card-title-color:#4c0519;
    --card-subtext-color: #881337;
    --card-icon-color:#4c0519;
    --card-border-radius: 0.5em;

    --announcements-left-padding: 1vw;
    --announcements-top-padding: 2vh;
    --annoucements-background-color: #fecdd3;
    --announcements-desc-size: 0.55em;
    --announcements-text-size: 0.7em;
    --greeting-text-color: #4c0519;
    /* --announcements-bottom-padding: 5vh; */

    --trending-left-padding: 1vw;
    --trending-top-padding: 2vh;
    --trending-bottom-padding:5vh;
    --trending-background-color: #fecdd3;


    --trending-icon-size: 2.5vw;
    --trending-svg-size: 70%;
    --trending-icon-left-padding: 1vw;

    --trending-text-size:0.7em;
    --trending-desc-size:0.7em;


    font-family: Arial, Helvetica, sans-serif;
}


/* -------------Grid Area Configuration--------- */
#grid-container {
    display: grid;
    grid-template-columns: repeat(100, 1vw) ;
    grid-template-rows: repeat(100, 1vh);

}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 101;
}

.header {
    grid-column-start: 15;
    grid-column-end: 101;
    grid-row-start: 1;
    grid-row-end: 18;
}

.projects {
    grid-column-start: 15;
    grid-column-end: 75;
    grid-row-start: 18;
    grid-row-end: 101;
}

.announcements {
    grid-column-start: 75;
    grid-column-end: 101;
    grid-row-start: 18;
    grid-row-end: 60;
}

.trending {
    grid-column-start: 75;
    grid-column-end: 101;
    grid-row-start: 60;
    grid-row-end: 101;
}


/* ----------- Sidebar Area--------------- */  
.sidebar {
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;


}

.logo {
    display: flex;
    align-items: center;
    gap: var(--sidebar-icon-text-gap);

    height: 8%;
    width: 100%;

    padding-left: var(--sidebar-left-align); ;


    font-weight: bold;
    font-size: 1.3em;
    color: var(--sidebar-text-color);
}

.logo .icon{
    width: var(--sidebar-logo-width);
    height: var(--sidebar-logo-height);
}

.logo .icon svg{
    fill: var(--sidebar-logo-color);
}


/* Pages Section */
    .pages ul{
        display: flex;
        flex-direction: column;
        gap: var(--sidebar-menuitem-gap);

        color: var(--sidebar-text-color);
        list-style-type: none;
        padding-left: var(--sidebar-left-align);
        margin-top: 3vh;

        font-size: var(--sidebar-menuitem-font-size);
        font-weight: var(--sidebar-menuitem-font-weight);

    }

    .pages ul .icon {
        width: var(--sidebar-icon-width);
        height: var(--sidebar-icon-height);
    }

    .pages ul li{
        display: flex;
        align-items: center;
        gap: var(--sidebar-icon-text-gap);
    }

    .pages ul .icon svg {
        fill: var(--sidebar-icon-color);
    }


/* Settings Section */
    .settings ul{
        display: flex;
        flex-direction: column;
        gap: var(--sidebar-menuitem-gap);

        color: var(--sidebar-text-color);
        list-style-type: none;
        padding-left: var(--sidebar-left-align);
        margin-top: 5vh;

        font-size: var(--sidebar-menuitem-font-size);
        font-weight: var(--sidebar-menuitem-font-weight);
    }

    .settings ul .icon {
        width: var(--sidebar-icon-width);
        height: var(--sidebar-icon-height);
    }

    .settings ul li{
        display: flex;
        align-items: center;
        gap: var(--sidebar-icon-text-gap);
    }

    .settings ul .icon svg {
        fill: var(--sidebar-icon-color);
    }

/* --------- Header Section----------- */
.header {
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    background-color: var(--header-color);
    position: relative;
    box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.34);
}

    /*----- Search Bar --------*/
    .header .search.container { 
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
        
    }

    .search.container{
        display: flex;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: var(--header-left-align);
    }

    .search.container .searchicon {
        display: block;
        height: 100%;
        width: 100%;
        flex:.1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #searchicon {
        fill: var(--search-icon-color);
        width: var(--search-icon-size);
        height: var(--search-icon-size);
    }

    .search.container .search-bar {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    #searchinput {
        width: 90%;
        height: 65%;
        border: transparent;
        border-radius: 2em;
        background-color: var(--searchbar-color);
        padding-left: 10px;
    }






    /* -----Profile--------- */
    

    .header .profile {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 5;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* gap: 5%; */

        padding-right: 10% ;
    }

    .profile .notification{
        width: 10%;
        height: 70%;

        display: flex;
        align-items: center;
        justify-content: center;
        /* outline: black 1px dashed; */
    }

    #bellicon{
        width: 60%;
        height: 60%;
        /* outline: black 1px dashed; */
    }

    .profile .user{
        width: 15%;
        height: 70%;

        display: flex;
        justify-content: center;
        align-items: center;
        /* outline: black 1px dashed; */

    }

    #usericon{
        width: 100%;
        height: 100%;
    }


    .profile #username{
        font-weight:bolder;
        font-size: 1.1em;
        /* outline: black 1px dashed; */

    }

    

/* ----------Greeting-------- */

    .header .greeting{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 11;

        display: flex;
        align-items: center;
        gap: 1vw;

        padding-left: var(--header-left-align);
        
    }

    .greeting .user{
        height: 90%;
    } 

    .greeting-text {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
        color: var(--greeting-text-color);
    }

    .greeting-text :first-child{
        font-weight: bold;
        font-size: 0.7em;
    }

    .greeting-text :nth-child(2){
        font-weight: bold;
        font-size: 1.1em;
    }
    

    .header .actions{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 11;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }

    .actions button {
        background-color: var(--actions-button-color);
        color: var(--actions-button-text-color);
        border: transparent;
        border-radius: 2em;

        height: 38%;
        width: 18%;
        
    }

/*-------------Projects--------------- */
.projects {
    display: flex;
    flex-direction: column;
    padding-left: var(--projects-left-align);
    padding-right: var(--projects-left-align);
    padding-bottom: var(--projects-bottom-padding);
    padding-top: var(--projects-top-padding);
    background-color: var(--projects-background-color);
}

.projects #title{
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 1.5vh;
}

.card.container.grid{
    display: flex;
    width: 100%;
    height: 100%;
}

.col {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.col .item{
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    width: 93%;
    height: 40%;
    display: grid;
    overflow: hidden;

    grid-template-columns: repeat(50,2%);
    grid-template-rows: repeat(50,2%);
}

.item .text{
    grid-column-start: 5;
    grid-column-end: 45;
    grid-row-start: 10;
    grid-row-end: 35;
}

.item .text :first-child{
    font-weight: bold;
    font-size: 0.8em;
    color: var(--card-title-color);
}
.item .text :nth-child(2) {
    padding-top: 1%;
    font-size: 0.7em;
    color: var(--card-subtext-color);
}

.item .sidecolor{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 51;
    background-color: var(--card-side-color);
}

.item .icons{
    grid-column-start: 30;
    grid-column-end: 50;
    grid-row-start: 39;
    grid-row-end: 49;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons svg{
    width: 18%;
    height: 100%;
    fill: var(--card-icon-color);
}

/* -------Announcements--------- */

.announcements {
    padding-left: var(--announcements-left-padding);
    background-color: var(--annoucements-background-color);
}

.announcements #title{
    padding-top: var(--announcements-top-padding);
    padding-bottom: 1.5vh;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
}

.announcements.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}

.announcements .card{
    width: 90%;
    height: 100%;
    padding: 1vw;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.announcements .bar{
    width: 100%;
    background-color: var(--card-subtext-color);
    height: 0.5px;
    border-radius: 2px;
}

.announcements .card p.title{
    font-weight: bold;
    font-size: var(--announcements-text-size);
    color: var(--card-title-color);
}


.announcements .card p.body{
    font-size: var(--announcements-desc-size);
    color: var(--card-subtext-color);
}


/* -------Trending--------- */
.trending {
    padding-left: var(--trending-left-padding);
    background-color: var(--trending-background-color);
}

.trending.container{
    display: flex;
    flex-direction: column;
    padding-bottom: var(--trending-bottom-padding);

}

.trending #title{
    padding-top: var(--trending-top-padding);
    padding-bottom: 1vh;

    width: 100%;
    font-weight: bold;
    font-size: 1em;
}

.trending .card{
    width: 90%;
    height: 100%;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending .card .item{
    width: 100%;
    height: 25%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    align-items: center;
    gap: 1vw;

    padding-left: var(--trending-icon-left-padding);
}

/* -----------TRENDINGICONS -----------*/
.trending .card .item .icon{
    width: var(--trending-icon-size);
    height: var(--trending-icon-size);
    overflow: hidden;
    border-radius: 50%;
}

.trending .card .item:first-child .icon{
    fill: coral;
    background-color: lightblue;
    display: grid;
    place-items: center;
}

.trending .card .item:nth-child(2) .icon{
    fill: white;
    background-color: rgb(253, 203, 87);
    display: grid;
    place-items: center;

}

.trending .card .item:nth-child(3) .icon{
    fill: orange ;
    background-color: grey;
    display: grid;
    place-items: center;

}

.trending .card .item:nth-child(4) .icon{
    fill: ;
    background-color: rgb(237, 174, 185);
    display: grid;
    place-items: center;

}

.trending .card .item:first-child .icon svg {
    width: var(--trending-svg-size);
    height: var(--trending-svg-size);
}

.trending .card .item:nth-child(2) .icon svg {
    width: var(--trending-svg-size);
    height: var(--trending-svg-size);
}

.trending .card .item:nth-child(3) .icon svg {
    width: var(--trending-svg-size);
    height: var(--trending-svg-size);
}

.trending .card .item:nth-child(4) .icon svg {
    width: var(--trending-svg-size);
    height: var(--trending-svg-size);
}

/* -----------  TRENDING NAMES---------- */

.trending .card .item .name {
    width: 70%;
    height: 100%;
    padding-top: 0.5vh;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--card-title-color);
}

.trending .card .item .name .username {
    font-size: var(--trending-text-size);
    font-weight: bold;
}

.trending .card .item .name .desc {
    font-size: var(--trending-desc-size);
    color: var(--card-subtext-color);
}